@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  width:100%;
  overflow-x:hidden;
  }
body{
    height: 100vh;
    overflow-x: hidden;
}
/* usefull classes */
.txt-media{
    @apply text-sm sm:text-xl
}
.main-gradient{
    @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500
}

.icon-effect{
    @apply hover:bg-red-500
}



.post-content p {
    margin-bottom: 0.5rem;
    line-height: 1.75rem;
  }
  
  .post-content h1 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 1.5rem 0;
  }
  
  .post-content h2 {
    font-size: 1.4rem;
    font-family: sans-serif;
    margin: 1.5rem 0;
  }
  
  .post-content a {
    color: rgb(73, 149, 199);
    text-decoration: none;
  }
  
  .post-content a:hover {
    text-decoration: underline;
  }
  
  .dark .post-content a {
    color: red;
  }